P2P_PORT=30303
P2P_MAX_PEERS=25
P2P_DISCOVERY_DISABLE=1

RPC_ENABLE=1
RPC_PORT=8545
RPC_HOST=0.0.0.0

# Select enabled RPC modules [net,web3,eth]: admin debug web3 eth txpool personal ethash miner net
RPC_MODULES=net,web3,eth
RPC_ALLOW_UNPROTECTEDTX=1

RPC_WS_PORT=8546
RPC_WS_HOST=0.0.0.0
# Select enabled Websocket RPC modules [net,web3,eth]: admin debug web3 eth txpool personal ethash miner net
RPC_WS_MODULES=net,web3,eth

# Make geth to save JWT secret to this file, so it can be shared between other services
RPC_JWT_PATH=/home/ethereum/.shared/rpc/jwtsecret
RPC_AUTH_ADDR=0.0.0.0
RPC_AUTH_PORT=8551
RPC_AUTH_VHOSTS=localhost,ethereum-node,ethereum-node.local

# Select network [mainnet]: mainnet, ropsten, rinkeby, goerli, kovan, sepolia
NETWORK=mainnet

# Select syncmode [snap]: snap, full, light
SYNCMODE=snap

# Set nopruning ancient light chain data [N]
NOPRUNING_ENABLE=1

# Select DB cache size:
DB_CACHE=512

# Set beacon node port
BEACON_PORT=30304